
@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueRegular.woff') format('woff'), url('HelveticaNeueRegular.ttf')  format('truetype'), url('HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
