img {
  max-width: 100%;
}

$background-color: #061d44;
$base-link-color: #ffffff;

$font-color: #000000;

$font-bold: $helvetica-bold;

body {
  color: $font-color;
  font-family: $helvetica-regular;
  font-size: $font-size-base;
}

$red: #BD0825; 
$green: #00C340;