$left-bg-color: $background-color;
$right-bg-color: #ececec;
$bottom-border-color: rgba(255, 255, 255, 0.2);
$bottom-links-color: $base-link-color;
$right-links-color: $font-color;

.bottom-links {
  .bottom-links-item {
    background-color: $left-bg-color;
    padding: 9px 0 11px 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0.5px solid $bottom-border-color;

    ul {
      li {
        a {
          color: $bottom-links-color;
          font-size: 1.3rem;
        }
      }
    }
  }

  .bottom-right-side {
    background-color: $right-bg-color;
    padding: 20px 25px;


    figure {
      margin-bottom: 80px;
      img {
        max-width: 238px;
      }
    }

    p {
      font-size: 1.4rem;
      margin: 0;
      text-align: right;
    }

    a {
      color: $right-links-color;
      font-size: 1.3rem;

      &.mail {
        text-align: right;
        display: block;
      }

      &:hover{
        text-decoration: none;
      }
    }
  }
}

@media(min-width:576px){
  .bottom-right-side {
    a.mail{
        padding-left: 73px;
    }
  }
}

@media(min-width:768px){
  .bottom-links {
    .bottom-links-item {
      border-left: 0.5px solid $bottom-border-color;
      ul {
        li {
          a {
            color: $bottom-links-color;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .bottom-links {
    background: linear-gradient(to right, $left-bg-color 65%, $right-bg-color 35%);
    max-height: 281px;
    padding: 39px 10px 26px;

    .bottom-links-item {
      text-align: left;
      background-color: transparent;
      border-bottom: 0px;
      padding-left: 23px;

      &.no-border-l{
        border-left: 0px;
      }

      ul {
        li {
          a {
            color: $bottom-links-color;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media(min-width:1200px){
  .bottom-links {
    background: linear-gradient(to right, $left-bg-color 65%, $right-bg-color 3%);
    .bottom-links-item {
      border-left: 0.5px solid $bottom-border-color;      
      padding-left: 30px;

    }

    .bottom-right-side {
      background-color: transparent;
      padding: 0px;
    }
  
  }
}

