$modal-bg: #ececec;
$stanje-color: #bd0825;
$prew-next-color: #061d44;
$modal-header-bg: #d2d2d2;
$card-header-text: #fff;
$span-bg: #061d44;

// modal lager
.modal {
  .modal-dialog {
    .modal-content {
      background-color: $modal-bg;
      margin: 0 auto;
      .modal-header {
        p {
          color: $stanje-color;
        }
      }

      .modal-body {
        table {
          width: 100%;
          tbody {
            tr {
              td {
                span {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  border: 1px solid #bd0825;
                  border-radius: 50%;
                  background-color: #bd0825;
                  &.available {
                    border: 1px solid #00c340;
                    background-color: #00c340;
                  }
                }
              }
            }
          }
        }
      } // .modal-body end
    } // .modal-content end
  } // .modal-dialog end
} // .modal lager end

// modal products start

#modalProduct {
  .modal-content {
    .modal-header {
      flex-direction: column;
      align-items: center;
      padding: 0;
      background-color: $modal-header-bg;
      .breadcrumb {
        background-color: transparent;
        .breadcrumb-item {
          text-transform: uppercase;
          font-size: 1.2rem;
          &.active {
            display: inline-block;
            padding-left: 13px;
            color: #000;
            text-decoration: underline;
            &::before {
              content: ">>";
              display: inline-block;
              padding-right: 0.5rem;
              color: #000;
              font-size: 1rem;
            }
          }
        }
      }
      .page-arrows {
        a {
          color: $prew-next-color;
          padding: 0 5px;
          font-size: 1.2rem;
          &:hover {
            text-decoration: none;
          }

          .fa-angle-right {
            padding-right: 5px;
          }
        }
      } // .page-arrows end
    } // .modal header end

    .modal-body {
      .bottom-slider-wrapper {
        li {
          max-height: 100px;
          img {
            height: 100px;
          }
        }

        .slick-list {
          padding: 0px !important;
        }
        .slick-track {
          width: 100%;
        }
      }
      .product-content {
        .product-title {
          font-family: $helvetica-bold;
        }
        p {
          border-bottom: 1px dotted $prew-next-color;
          border-width: 50%;
        }

        .bottom-list {
          .b-bottom {
            &::after {
              content: "";
              height: 1px;
              width: 120px;
              background-color: #979797;
              display: block;
              position: relative;
              margin: 5px 0;
            }
          }

          .price {
            font-family: $helvetica-bold;
            font-size: 2.4rem;
          }

          label {
            font-size: 1.4rem;
          }

          .sum {
            width: 37px;
            height: 38px;
            margin-left: 5px;
          }

          .discount {
            width: 40px;
            height: 36px;
            margin-left: 5px;
          }

          .btn-add {
            width: 138px;
            height: 45px;
            background-color: $btn-bg;
            color: $btn-text;
            font-size: 1.3rem;
            margin-left: 5px;

            img {
              height: 16px;
              width: 16px;
              padding-right: 5px;
            }
          }
        } // .bottom-list end
      } // .product-content end
    } // .modal-body end

    .specification {
      min-height: 85px;
      .references {
        padding: 12px 0;
      }
      span {
        display: inline-block;
        background-color: $span-bg;
        padding: 8px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 3px;
      }
    } // .specification end

    .related-products-table {
      list-style: none;
      display: flex;
      flex-direction: column;
      border: 1px solid $span-bg;
      padding: 10px;
      &.head {
        margin-top: 3px;
        li {
          background-color: $modal-header-bg;
          margin-right: 3px;
          width: 120px;
          padding-left: 10px;
        }
      } // .head end
      li {
        margin-right: 3px;
        //width: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
          height: 45px;
        }
        span {
          margin-right: 5px;
          font-family: $helvetica-bold;
        }
      }

      &:not(.head):hover {
        cursor: pointer;
        li {
          background-color: $span-bg;
          color: #fff;
        }
      }
    } // .related-products-table end
  } // .modal-content end
}

@media (min-width: 576px) {
  #modalProduct {
    .modal-content {
      .modal-header {
        flex-direction: row;
      }
      .modal-body {
        .product-content {
          .bottom-list {
            label {
              font-size: 1.6rem;
            }

            .sum {
              width: 40px;
            }

            .discount {
              margin-left: 10px;
            }

            .btn-add {
              margin-left: 10px;
            }
          }
        }
      } // .modal-body end
    } // .modal-content end
  } // #modalProduct end
}

@media (min-width: 768px) {
  #modalProduct {
    .modal-content {
      .modal-body {
        .product-content {
          .bottom-list {
            .discount {
              margin-left: 19px;
            }

            .btn-add {
              margin-left: 15px;
              width: 160px;
              font-size: 1.6rem;

              img {
                height: 18px;
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #modalProduct {
    .modal-content {
      .modal-body {
      }
    }
  }
}

@media (min-width: 1200px) {
  #modalProduct {
    .modal-dialog {
      max-width: 70%;
      .modal-content {
        .modal-header {
          .breadcrumb-item {
            font-size: 1.6rem;
          }
          .page-arrows {
            a {
              font-size: 1.6rem;
              &:first-of-type::after {
                content: "";
                position: absolute;
                right: 129px;
                top: 19px;
                height: 13px;
                width: 1px;
                background: $prew-next-color;

                .fa-angle-left,
                .fa-angle-right {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }

        .modal-body {
          .product-content {
            .bottom-list {
              .discount {
                margin-left: 10px;
              }

              .btn-add {
                margin-left: 10px;
              }
            }
          }

        .related-products-table {
          flex-direction: row !important;
          border: 0px;
          padding: 0px;
          li {
            width: 120px;
            display: block;
            padding-left: 10px;
            span {
              display: none;
            }
          }
        }
        }
      }
    }
  }
}
