$search-box-bg: #d2d2d2;
$pagination-bg: #ececec;
$thead-bg: #061d44;
$th-text-color: #fff;

.catalog {
  .search-box {
    padding: 7px 0;
    background-color: $search-box-bg;

    .fake-radio {
      display: inline-block;
      width: 9px;
      height: 9px;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: $search-box-bg;
    }

    .discount {
      font-size: 1.3rem;
      font-family: $helvetica-bold;
      text-transform: uppercase;
    }

    .search-btn {
      padding-right: 5px;
      width: 122px;
      height: 30px;
      font-size: 1.4rem;
      font-family: $helvetica-bold;
    }

    a {
      color: $font-color;
      .fa-search {
        height: 30px;
        width: 36px;
        line-height: 30px;
        background: #f2e334;
        border-left: 1px solid $search-box-bg;

        &::before {
          padding-left: 9px;
        }
      }
    }

    .form-control {
      padding: 5px 0 5px 8px;
      width: 100%;
      height: 30px;

      &[type="radio"] {
        display: none;
      }

      &[type="radio"]:checked + .fake-radio {
        background-color: #000;
      }

      &::placeholder {
        font-size: 1.4rem;
      }
    } // form control end

    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-app-appearance: none;
      background: #fff url("../img/arrow.png") no-repeat 96% center;
      font-size: 1.4rem;
      background-size: 10px;
    } // select end
  } // search box end

  .catalog-pagination {
    padding: 5px 0;
    background-color: $pagination-bg;

    p {
      font-size: 1.4rem;
    }

    .pagination {
      .page-link {
        background-color: transparent;
        border: 0px;

        &.active {
          font-weight: bold;
        }

        .fa-angle-right,
        .fa-angle-double-right {
          display: inline-block;
          width: 17px;
          height: 17px;
          line-height: 10px;
          border: 2px solid #000;
          border-radius: 50%;

          &::before {
            font-size: 1.1rem;
            padding-left: 2px;
          }
        }

        .fa-angle-right {
          &::before {
            padding-left: 4px;
          }
        }
      }
    }

    .form-control {
      padding: 5px 0 5px 8px;
      width: 160px;
      height: 30px;
    } // .form-control end

    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-app-appearance: none;
      background: #fff url("../img/arrow.png") no-repeat 96% center;
      font-size: 1.4rem;
      background-size: 10px;
    } // select end
  } // section catalog-pagination
}

@media (min-width: 576px) {
  .catalog {
    .search-box {
      .form-control {
        margin-right: 9px;
      }
    }
  }
}

@media (min-width: 768px) {
  .catalog-pagination {
    max-height: 38px;
    .pagination {
      padding-left: 44px;
    }
  }
}

@media (min-width: 992px) {
  .search-box {
    max-height: 40px;
  }
}

@media (min-width: 1200px) {
}
