$thead-bg: #061d44;
$th-text-color: #fff;
$odd-row-bg: #d2d2d2;
$even-row-bg: #ececec;

.catalog {
  .catalog-table {
    margin-bottom: 20px;
    thead {
      display: none;
    }
    tr {
      display: flex; 
      flex-direction: column;
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid $thead-bg;
      padding: 10px;
      margin-bottom: 10px;
      td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          a.stanje-lagera {
            margin-top: -20px;
            display: block;
            color: $red;
            &:hover {
              text-decoration: none;
            }
          }

          input {
            width: 50px;
          }

          .fa-shopping-cart {
            color: #000;
          }

          &.red-green-bullet {
            span {
              display: block;
              width: 12px;
              height: 12px;
              border: 1px solid $red;
              border-radius: 50%;
              background-color: $red;

              &.available {
                border: 1px solid $green;
                background-color: $green;
              }
            }
          }
        } // div

        &.name {
          p{
            text-transform: uppercase;
            font-family: $helvetica-bold;
            margin: 0;
            font-size: 1.4rem;
          }
        }
      } //td end
    } // tr end
  }
}

@media (min-width: 576px) {
  .catalog {
    .catalog-table {
      tr {
        max-width: 49%;
      }
    }
  }
}
@media (min-width: 768px) {
  .catalog {
    .catalog-table {
      tr {
        max-width: 32%;
      }
    }
  }
}

@media (min-width: 992px) {
  .catalog {
    .catalog-table {
      tr {
        max-width: 24%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .catalog {
    .catalog-table {
      margin-bottom: 90px;
      table {
        font-size: 1.4rem;
        thead {
          display: flex;
          color: #fff;
          height: 40px;
          tr {
            background-color: transparent !important;
            th {
              background-color: $thead-bg;
              text-align: center;
              padding-top: 6px;
              //padding: 6px 30px 0;
              margin-right: 5px;
              &:nth-of-type(1) {
                //padding: 6px 40px 0;
                width: 115px;
              }
              &:nth-of-type(2) {
                //padding: 6px 0 0 27px;
                width: 120px;
              }
              &:nth-of-type(3) {
                //padding: 6px 0 0 8px;
                width: 125px;
              }
              &:nth-of-type(4) {
                //padding: 6px 8px 0;
                width: 145px;
              }
              &:nth-of-type(5) {
                width: 120px;
              }
              &:nth-of-type(6) {
                width: 125px;
              }
              &:nth-of-type(7) {
                width: 38px;
              }
            }
          }
        }
        tbody {
          margin: 0;
          tr:hover{
            cursor: pointer;
            td{
              background-color: rgba(133, 131, 131, 0.6);
            } 
          }
        }
        tr {
          border: none;
          max-width: 100%;
          flex-direction: row;
          padding-bottom: 5px;
          padding-top: 0px;
          margin: 0;
          &:nth-last-of-type(odd) {
            td {
              background-color: $odd-row-bg;
            }
          }
          td {
            padding: 2px 0 0 17px;
            background-color: $even-row-bg;
            margin-right: 5px;
            &:last-of-type {
              margin-right: 0;
              display: none;
            }
            &:nth-of-type(1) {
              width: 115px;
            }
            &:nth-of-type(2) {
              width: 120px;
            }
            &:nth-of-type(3) {
              width: 125px;
              padding-top: 10px;
              padding-left: 24px;
            }
            &:nth-of-type(4) {
              width: 145px;
              //padding: 2px 2px 2px 10px;
            }
            &:nth-of-type(5) {
              width: 120px;
              padding-top: 10px;
              padding-left: 24px;
            }
            &:nth-of-type(6) {
              width: 125px;
              //padding-left: 27px;
            }
            &:nth-of-type(7) {
              width: 38px;
              padding-left: 13px;
            }
            span,
            .slika {
              display: none;
            }

            a.stanje-lagera {
              margin-top: -16px;
              white-space: nowrap;
            }

            .table-logo {
              max-width: 90px;
            }
          }
        }
      }
      .catalog-img-section{
        .catalog-img {
          border: 1px solid #979797;
          figcaption {
            background-color: $thead-bg;
            color: #fff;
            height: 34px;
            text-align: center;
          }
        }
        a{
          color: #000;
          
        }
      }
    } //catalog table end
  }
}
