$header-background: $background-color;
$header-color: $base-link-color;
$navbar-toggler-bg: $header-color;

header {
  background-color: $header-background;
  padding: 10px 0 8px;

  .bold {
    font-family: $helvetica-bold;
  }

  .login-menu {
    .nav-item {
      .nav-link {
        color: $header-color;
        border-bottom: 1px solid transparent;
        &.active,
        &:not(.no-hover):hover {
          &:after {
            content: "";
            height: 1px;
            max-width: 90px;
            background-color: $header-color;
            display: block;
            position: relative;
            margin: 0 auto;
            left: 5px;
          }
        }
      }
      .article-sum {
        color: $header-color;
        border-bottom: 1px solid transparent;
        padding-top: 6px;
      }
    }
  } // login-menu end

  .navbar {
    padding: 0px;
    a {
      img {
        max-width: 160px;
      }
    } // logo

    .navbar-nav {
      .cart-icon {
        img {
          width: 18px;
          height: 18px;
        }
      }

      a {
        &.home-icon {
          img {
            width: 18px;
            height: 20px;
          }
        }
      }
    } // navbar-nav end

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    .main-menu {
      .nav-item {
        text-align: center;
        .nav-link {
          color: $header-color;
          font-size: 1.4rem;
          line-height: 1.6rem;
          letter-spacing: 1px;
          border-bottom: 1px solid transparent;

          &.active,
          &:not(.no-hover):hover {
            &:after {
              content: "";
              height: 1px;
              max-width: 95px;
              background-color: $header-color;
              display: block;
              position: relative;
              margin: 0 auto;
              left: 3px;
              top: 2px;
            }
          }
        }
      }
    } // main menu end

    .navbar-toggler {
      border-color: transparent;
      span {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        background-color: $navbar-toggler-bg;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    } // navbar-toggler end
  } // navbar end
} // header end

@media (min-width: 576px) {
  header {
    .navbar {
      a {
        img {
          max-width: 200px;
        }
      }
    }
  } // header end
}

@media (min-width: 768px) {
  header {
    .login-menu {
      .top-ul {
        .nav-link {
          &:not(.no-border-l)::before {
            content: "|";
            color: $header-color;
            margin: 0 5px;
          }
        }
      }
    } // login menu end
    .navbar {
      a {
        img {
          max-width: 243px;
        }
      }
    }
  } // header end
}

@media (min-width: 1200px) {
  .main-menu {
    .nav-item {
      .nav-link {
        &:not(.no-border-l)::before {
          content: "|";
          color: $header-color;
          margin-right: 5px;
        }
      }
    }
  } // main menu end
}
