$modal-bg: #ececec;
$stanje-color: #bd0825;

.modal {
  .modal-dialog {
    .modal-content {
      width: 324px;
      background-color: $modal-bg;
      margin: 0 auto;
      .modal-header {
        p {
          color: $stanje-color;
        }
      }

      .modal-body {
        table {
          width: 100%;
          tbody {
            tr {
              td {
                span {
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  border: 1px solid #bd0825;
                  border-radius: 50%;
                  background-color: #bd0825;
                  &.na-stanju {
                    border: 1px solid #00c340;
                    background-color: #00c340;
                  }
                }
              }
            }
          }
        }
      } // modal-body end
    } // modal-content end
  } // modal-dialog end
}
