$search-box-bg: #d2d2d2;
$pagination-bg: #ececec;
$thead-bg: $background-color;
$th-text-color: #fff;

.katalog {
  .search-box {
    padding: 7px 0;
    background-color: $search-box-bg;

    .fake-radio {
      display: inline-block;
      width: 9px;
      height: 9px;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: $search-box-bg;
    }

    .akcije {
      font-size: 1.4rem;
    }

    .trazi {
      padding-right: 5px;
      width: 122px;
      height: 30px;
      font-size: 1.4rem;
    }

    .fa-search {
      height: 30px;
      width: 36px;
      line-height: 30px;
      background: #f2e334;
      border-left: 1px solid $search-box-bg;

      &::before {
        padding-left: 9px;
      }
    }
  } // search box end

  .form-control {
    padding: 5px 0 5px 8px;
    width: 160px;
    height: 30px;

    &[type="radio"] {
      display: none;
    }

    &[type="radio"]:checked + .fake-radio {
      background-color: #000;
    }

    &::placeholder {
      font-size: 1.4rem;
    }
  } // form control end

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-app-appearance: none;
    background: #fff url("../img/arrow.png") no-repeat 96% center;
    font-size: 1.4rem;
    background-size: 10px;
  } // select end

  .katalog-pagination {
    padding: 5px 0;
    background-color: $pagination-bg;

    p {
      font-size: 1.4rem;
    }

    .pagination {
      .page-link {
        background-color: transparent;
        border: 0px;

        &.active {
          font-weight: bold;
        }

        .fa-angle-right,
        .fa-angle-double-right {
          display: inline-block;
          width: 17px;
          height: 17px;
          line-height: 10px;
          border: 2px solid #000;
          border-radius: 50%;

          &::before {
            font-size: 1.1rem;
            padding-left: 2px;
          }
        }

        .fa-angle-right {
          &::before {
            padding-left: 4px;
          }
        }
      }
    }
  } // section katalog-pagination

  .katalog-table {
    table {
      thead {
        background-color: $thead-bg;
        color: $th-text-color;
        line-height: 2.2rem;
        text-align: center;
        th {
          height: 34px;
          padding: 3px 13px;
          font-size: 1.3rem;
        }
      } // thead end
      tbody {
        td {
          text-align: center;
          padding: 3px 13px;
          font-size: 1.3rem;

          a {
            color: #bd0825;
          }

          .span-logo {
            height: 34px;
            padding: 4px 24px;
            border: 1px solid #000;
            border-radius: 20px;
          } // span-logo end

          &.n-proizvoda {
            padding: 3px 0 3px 3px;
            font-family: $helvetica-bold;
            text-align: left;
          } // n-proizvoda end

          &.span-and-img {
            padding: 0px;
            span {
              display: inline-block;
              height: 24px;
              width: 60px;
              background-color: #fff;
            }

            img {
              width: 18px;
              height: 18px;
              padding-left: 3px;
            }
          } //span-and-img end

          &.red-green-bullet {
            span {
              display: inline-block;
              width: 12px;
              height: 12px;
              border: 1px solid #bd0825;
              border-radius: 50%;
              background-color: #bd0825;

              &.active {
                border: 1px solid #00c340;
                background-color: #00c340;
              }
            }
          } // red-greeb-bullet end
        } //td end
      } //tbody end
    } // table end

    .katalog-img-section {
      .katalog-img {
          padding-top: 5px;
        figcaption {
          background-color: $thead-bg;
          height: 32px;
          color: $th-text-color;
          text-align: center;
          padding-top: 3px;
        }

        img {
          border: 1px solid #979797;
          width: 100%;
        }
      }

      .naziv-proizvoda{
          font-family: $helvetica-bold;
      }

      a{
          color: $font-color;
      }
    }
  } // katalog-table end
}

@media (min-width: 768px) {
  .katalog-pagination {
    max-height: 38px;
    .pagination {
      padding-left: 44px;
    }
  }
}

@media (min-width: 992px) {
  .search-box {
    max-height: 40px;
  }
}

@media(min-width:1200px){
}
